@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}

@keyframes slideInFromLeftTitle {
  0% {
      opacity: 0;
      transform: translateX(-5%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.ratingComponentBody {
    background-color: rgb(243, 246, 249);
    height: 100%;
    width: 100%;
    animation: fadeInAnimation ease-in-out 0.1s;
    overflow-y: auto;
    
}

.ratingUpperContainer {
    display: flex;
    justify-content: space-between;
    font-family: 'Tinos';
    font-weight: 700;
    font-size: x-large;
    padding-left: 1.7em;
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 1px 1px 1px rgb(235, 234, 234);
    z-index: 10;
    
}

.ratinglowerContainer {
  margin-top: 6em;
}


.searchBarContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.closeIconContainer {
    position: absolute;
    right: 0;
    top: 0.5em;
}

.filterMenuContainer {
    position: absolute;
    top: 10em;
    left: 3em;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50px;
    transition: 0.2s ease-in-out;
    z-index: 13;
}

.filterMenuContainer:hover {
    width: 250px;
}
.filterMenuContainer.expanded {
  width: 250px;
}



.filterName {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px; /* Optional: for rounded corners */
    transition: background-color 0.3s;
  }
  
  .filterWords {
    display: flex;
    flex-direction: row;
    opacity: 0;
    visibility: hidden; /* Hide without removing from layout */
    transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
    transform: translateX(-100%);
    white-space: nowrap;
    font-size: large;
    font-weight: 500;
  }

  
  
  .filterName:hover .filterWords {
    opacity: 1;
    animation: slideInFromLeft 0.5s forwards;
    display: block;
    visibility: visible;
    padding-left: 1em;
    
  }
  .filterName .filterWords.visible {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translate(100%);
    background-color: red;
  }
  
  .filterName:hover {
    background-color: #4caf50; /* Change as needed */
  }
  
  .filterName:active {
    background-color: #00ff00; /* Change as needed */
  }

  .filterTitleContainer {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: x-large;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    animation: slideInFromLeftTitle 0.5s forwards;
    display: none;
    position: absolute;
    top: -3em;
    background-color: rgb(156, 217, 254);
    width: 100%;
    transition: 0.2s ease-in-out;
    border-radius: 5px 5px 0 0;
    
  }

  .filterTitleHoverContainer {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: x-large;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 1em;
    animation: slideInFromLeftTitle 0.5s forwards;
    display: none;
    position: absolute;
    top: -3em;
    border-radius: 5px 5px 0 0;
    background-color: rgb(156, 217, 254);
    transition: 0.2s ease-in-out;
  }

  .filterMenuContainer:hover .filterTitleHoverContainer {
    display: flex;
    justify-content: center;
  }

  .filterTitleContainer.appear {
    display: flex;
    justify-content: start;
    align-items: center;
    
  }

  .filterMenuContainer:hover .filterTitleContainer{
    display: flex;
  }

  .ratingBackButtonContainer {
    position: absolute;
    right:0;
    top: -4.9em;
    right: -1.8em;
    display: flex;
    justify-content: end;
    padding: 10px;
    margin-top: 0.5em;
    z-index: 100;
    display: none;
  }

  .ratingBackButtonContainer:hover {
    cursor:pointer;
  }

  .ratingBackButtonContainer.appear {
    display:block;
    display: flex;
    justify-content: end;
    
    margin-top: 0.2em;
  }

  .dropDownContainer {
    display: none;
    
  }

  .iconArrowContainer {
    position: absolute;
    right: 1em;
    display: none;
    transition: transform 0.2s ease;
  }

  .iconArrowContainer.rotate {
    transform: rotate(90deg);
  }

  .filterMenuContainer:hover .iconArrowContainer{
    display: block;
  }


  .dropDownContainer.visible {
    display: block;
  }

  .ratingButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding-bottom: 1em;
  }

  .ratingButtonContainer button {
    background-color: rgb(156, 217, 254);
    width: 70%;
    font-size: medium;
  }

  .cardImagesContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 1em;
    margin-right: 1em;
    row-gap: 1em;
    column-gap: 1em;
    margin-bottom: 2em;
  }
  .croppedImage {
    transition: 0.2s ease-in-out;
    
  }

  .croppedImage:hover + .croppedImageName {
    transform: translateY(-4px); /* Moves the text up on hover */
  }
  
  .croppedImage:hover {
    transform: translateY(-4px);
    z-index: 13;
    cursor: pointer;
    filter: brightness(1.15); /* Increase brightness by 20% on hover */
  }

  .croppedImageName {
    z-index: 14;
    color: white;
    position: relative;
    padding-top: 1em;
    bottom: 3.5em;
    font-family: 'Tinos';
    font-size: 25px;
    transition: 0.2s ease-in-out;
    
  }
  
  .croppedImageName::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -1em;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    border-radius: 0 0 3% 3%;
  }
  
  @media screen and (max-width: 1240px) {
    .filterMenuContainer {
      left: 0;
    }
  }


