.setPageBody {
    animation: fadeInAnimation ease-in 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    padding: 0;
    margin: 0; 
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    margin-bottom: 256px;
    gap: 64px;
    
}
.setPageBody::before {
    content: "";
    position: fixed; /* Fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;  /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 5; /* Below the infoContainer's z-index */
    pointer-events: none; /* Prevent it from blocking clicks */
    display: none; /* Initially hidden */
}
.modalActive {
    overflow: hidden; /* Disable scrolling */
}

.modalActive::before {
    display: block; /* Show the darkened overlay when modalActive is applied */
}

.overflow-hidden {
    overflow:hidden !important;
}

.mtgSetNameTitle {
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.setButton {
    transition: 0.1s ease-in-out;
}

.setButton:hover {
    transform: scale(1.05)
}

.ratingContainer {
    transition: transform 0.2s ease-in-out;
    display: flex;
    border-radius: 20%;
    justify-self: center;
    align-content: center;
    height: 384px;
    width: 384px;
    
    background-size:cover;
    background-position: 50%;
    background-repeat: no-repeat;
    min-Height:100%;
    min-Width:100%;

    position: relative;
    overflow: hidden;
    clip-path: path('M 0 0 H 100% V 80% Q 50% 100% 0 80% Z');

    box-shadow: 0 5px 5px -2px rgb(254, 159, 215);
    
}


.ratingContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0px 4px 6px rgb(210, 210, 210), 
    -3px 4px 6px rgb(210, 210, 210),3px 4px 6px rgb(210, 210, 210); 
    
}

.infoIcon {
    transition: 0.1s ease-in-out;
}

.infoIcon:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 10;
}

.infoContainer {
    animation: fadeInAnimation ease-in-out 0.25s;
    top: 20%;
    left: 20%;
    overflow: hidden;
    position: fixed;
    
}

.ratingComponentContainer {
    animation: fadeInAnimation ease-in-out 0.25s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    
}


