@keyframes fadeIn {
    from { opacity: 0; }
    to {opacity: 1; }
}

.fade-in-element {
    
    animation: fadeIn 0.34s ease-in;
}

.container {
    display: flex;
    
}


/* .set {
    border: 1px;
    border-radius: 20%;
    border-style: solid;
    height: 200px;
    width: 250px;
    flex: 1;
} */

.spinwheel {
    top: 50%;
    padding-top: 5em;
}

.outerContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-left: 2em;
    padding-right: 2em;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2em;
    row-gap: 1.5em;
    align-items: center;


}

.set-container {
    display: flex;
    transition: 0.2s ease-in-out;
    height: 300px;
    width: 100%; 
    
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
    
}

.set-container:hover {
    z-index: 10;
    cursor: pointer;
    transform: scale(1.15);
    background-color: rgb(189, 189, 189);
    
    
    
}

.setIcon {
    transition: ease-in-out 0.1s;
    
}

.setIcon img {
    transition: 0.2s ease-in-out;
}

.setIcon:hover img {
    transform: scale(1.3);
}

.image {
    width: 200px;
}

.setCode {
    font-family: 'Inter', "Helvetica";
    color:rgb(47, 44, 44);
}

.set-container:hover .setCode {
    transform: none;
    background-color: inherit;
}






/* .setIcon:hover {
    transform: scale(1.3);
    cursor: pointer;
    
} */

@media screen and (min-width: 360px) and (max-width: 767px){
    

    .outerContainer {
        grid-template-columns: 1fr 1fr;
        
        row-gap: 1em;

    }
    .set-container {
        width: 105%;
    }
    .image {
        width: 80%;
    }
    .setCode {
        font-size: medium;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .outerContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .outerContainer {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
